
:root {
  /* --brand-yellow-main: #FFCE1F;
  --brand-yellow-secondary: #FFE37D; */

  --brand-yellow-main:#a98202;
  --brand-yellow-secondary: #989479;
  --brand-grey: #555;

    --brand-gradient: linear-gradient(135deg, var(--brand-yellow-main), var(--brand-yellow-secondary));
}

body {
  color: #555;
}

    .hero {
      /* фон */
      background: linear-gradient(135deg, var(--brand-yellow-main), #989479);
      color: #fff;
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
    .hero .btn-cta {
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
    }
    @media (max-width: 767.98px) {
      .hero {
        text-align: center;
      }
    }

/* #region Navbar */
/* Navbar */
.navbar .nav-link {
  font-weight: 500;
}

.navbar .nav-link:hover {
    color: var(--brand-yellow-main);
}
/* #endregion */

.logo-freestyle {
  color: var(--brand-grey);
}

.logo-studio {
    color: var(--brand-yellow-main);
}

/* #region Footer */

  /* background:#1f2937; 
  color:#e5e7eb; */

  .footer {
  background-color: #0f172a; /* той самий темно-синій */
}

.footer-text {
  color: #cbd5e1; /* світло-сірий, читабельний */
}

.footer-link {
  color: #cbd5e1;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #a98202; /* твій золотий акцент */
  text-decoration: underline;
}

.footer-note {
  color: #94a3b8; /* ще трохи приглушений, але живий */
  font-size: 0.875rem;
}

.footer a {
  transition: color 0.2s ease, transform 0.2s ease;
}

.footer a:hover {
  color: #a98202 !important;
  transform: translateY(-2px);
}


/* #endregion */